<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="../src/js/clima/clima.js" type="module" defer></script>
    <title>Cuidades</title>
</head>
<body class="bg-black">
    <div class="container container-fluid">
        <nav class="navbar bg-body-black fixed-top border border-light">
            <div class="container-fluid">
                <img src="../src/img/Bandera.png" class="img-fluid" style="width: 50px;" >
              <a class="navbar-brand fw-bold fs-2 text-info " href="../index.html">Módulo Gestor de Ciudades</a>
              <button class="navbar-toggler bg-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end bg-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h2 class="offcanvas-title text-light fw-bold" id="offcanvasNavbarLabel">Modulos</h2>
                  <button type="button" class="btn-close bg-info" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active fs-3 fw-semibold text-light" aria-current="page" href="../index.html">INICIO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active fs-3 fw-semibold text-light" aria-current="page" href="./cuidades.html">Cuidades</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active fs-3 fw-semibold text-light" aria-current="page" href="./Departamentos.html">Departamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-3 fw-semibold text-light" aria-current="page" href="./clima.html">Ver Clima</a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
    </div>

    <div class="container container-fluid d-flex justify-content-center align-items-center mt-5 col-12 col-sm-12">
        <div class="d-flex justify-content-center align-items-center col-12 col-sm-12 col-md-8 col-lg-6 mt-5 ">
            <div class=" col-12 bg-secondary-subtle p-4 rounded mt-5">
                
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Departamento</label>
                        <select class="form-select" id="selectCuidadClima" name="selectCuidadClima" required></select>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-12 row  d-flex justify-content-center align-content-center mt-5 mb-5"  id="divClima">
        <!-- <div class="container-fluid bg-light col-10  border rounded-5">
            <div class="d-flex justify-content-center align-content-center">
                <img src="../src/img/clima/clouds.png" alt="">
            </div>
            <div>
                <h1 class="text-center mt-3">AAAAAA</h1>
            </div>
        </div> -->
    </div>
</body>
</html>